/* Configuração básica */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    padding: 2rem;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #resultados {
    margin-top: 2rem;
  }
  
  .resultado-professor {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
  }
  
  .resultado-professor img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }